
## SPARKS FOUNDATION GRIPMARCH23

### TASK4 : Global Terrorism Data Analysis 

### Author :  Bhanusri Sami

In [2]:
## Importing libraries .

import pandas as pd 
import numpy as np

In [3]:
## Loading the Data File .

T_Df = pd.read_csv(r"globalterrorismdb_0718dist.csv", encoding = 'latin-1')

C:\Users\Bhanusri\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
## Viewing the desciption  of Data

T_Df.describe()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.816910e+05,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,181685.000000,...,1.350000e+03,5.630000e+02,7.740000e+02,552.000000,10991.000000,10400.000000,181691.000000,181691.000000,181691.000000,181691.000000
mean,2.002705e+11,2002.638997,6.467277,15.505644,0.045346,131.968501,7.160938,23.498343,-4.586957e+02,1.451452,...,3.172530e+06,5.784865e+05,7.179437e+05,240.378623,4.629242,-29.018269,-4.543731,-4.464398,0.090010,-3.945952
std,1.325957e+09,13.259430,3.388303,8.814045,0.208063,112.414535,2.933408,18.569242,2.047790e+05,0.995430,...,3.021157e+07,7.077924e+06,1.014392e+07,2940.967293,2.035360,65.720119,4.543547,4.637152,0.568457,4.691325
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-8.618590e+07,1.000000,...,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-99.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.991021e+11,1991.000000,4.000000,8.000000,0.000000,78.000000,5.000000,11.510046,4.545640e+00,1.000000,...,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.009022e+11,2009.000000,6.000000,15.000000,0.000000,98.000000,6.000000,31.467463,4.324651e+01,1.000000,...,1.500000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,-9.000000,-9.000000,0.000000,0.000000
75%,2.014081e+11,2014.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.685087,6.871033e+01,1.000000,...,4.000000e+05,0.000000e+00,1.273412e+03,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.017123e+11,2017.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,1.793667e+02,5.000000,...,1.000000e+09,1.320000e+08,2.750000e+08,48000.000000,7.000000,2769.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
### Cheking for the null values in the columns

T_Df.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    172452
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       156653
Length: 135, dtype: int64

In [6]:
### Viewing the column names 

for i in T_Df.columns:
    print(i,end=", ")

eventid, iyear, imonth, iday, approxdate, extended, resolution, country, country_txt, region, region_txt, provstate, city, latitude, longitude, specificity, vicinity, location, summary, crit1, crit2, crit3, doubtterr, alternative, alternative_txt, multiple, success, suicide, attacktype1, attacktype1_txt, attacktype2, attacktype2_txt, attacktype3, attacktype3_txt, targtype1, targtype1_txt, targsubtype1, targsubtype1_txt, corp1, target1, natlty1, natlty1_txt, targtype2, targtype2_txt, targsubtype2, targsubtype2_txt, corp2, target2, natlty2, natlty2_txt, targtype3, targtype3_txt, targsubtype3, targsubtype3_txt, corp3, target3, natlty3, natlty3_txt, gname, gsubname, gname2, gsubname2, gname3, gsubname3, motive, guncertain1, guncertain2, guncertain3, individual, nperps, nperpcap, claimed, claimmode, claimmode_txt, claim2, claimmode2, claimmode2_txt, claim3, claimmode3, claimmode3_txt, compclaim, weaptype1, weaptype1_txt, weapsubtype1, weapsubtype1_txt, weaptype2, weaptype2_txt, weapsubtype2, weapsubtype2_txt, weaptype3, weaptype3_txt, weapsubtype3, weapsubtype3_txt, weaptype4, weaptype4_txt, weapsubtype4, weapsubtype4_txt, weapdetail, nkill, nkillus, nkillter, nwound, nwoundus, nwoundte, property, propextent, propextent_txt, propvalue, propcomment, ishostkid, nhostkid, nhostkidus, nhours, ndays, divert, kidhijcountry, ransom, ransomamt, ransomamtus, ransompaid, ransompaidus, ransomnote, hostkidoutcome, hostkidoutcome_txt, nreleased, addnotes, scite1, scite2, scite3, dbsource, INT_LOG, INT_IDEO, INT_MISC, INT_ANY, related,

In [7]:
### Renaming the unneccary columns

T_Df.rename(columns={"eventid":"Eventid","iyear":"Year","imonth":"Month","iday":"Day","country_txt":"Country",
                 "success":"Success","suicide":"Suicide","provstate":"State","propvalue":"Propvalue",
                 "region_txt":"Region","attacktype1_txt":"Attacktype","target1":"Target","nkill":"Killed",
                 "nwound":"Wounded","summary":"Summary","gname":"Group","targtype1_txt":"Target_type",
                 "weaptype1_txt":"Weapon_type","motive":"Motive"},inplace=True)

In [8]:
## Viewing the shape

T_Df.shape

(181691, 135)

In [9]:
### Creating the new dataframe with required columns .

T_Df=T_Df[["Eventid","Year","Month","Day","Country","city","Region","Success","Suicide","State",
      "Attacktype","Target","Killed","Wounded","Group","Target_type","Weapon_type","Motive"]]

In [10]:
### Treating the null values in the columns

T_Df["Killed"].fillna(0,inplace=True)
T_Df["Wounded"].fillna(0,inplace=True)
T_Df["city"].fillna("Unknown",inplace=True)
T_Df["State"].fillna("Unknown",inplace=True)
T_Df["Motive"].fillna("Unknown",inplace=True)
T_Df["Target"].fillna("Unknown",inplace=True)

In [11]:
## Viewing the shapes of new dataframe .

T_Df.shape

(181691, 18)

In [12]:
### verifying the null values after fixing them .

T_Df.isnull().sum()

Eventid        0
Year           0
Month          0
Day            0
Country        0
city           0
Region         0
Success        0
Suicide        0
State          0
Attacktype     0
Target         0
Killed         0
Wounded        0
Group          0
Target_type    0
Weapon_type    0
Motive         0
dtype: int64

In [14]:
### Writing the cleaned data into excel sheet 

T_Df.to_excel("New.xlsx",sheet_name='Sheet_name_1')